<div class="container">
    <div class="d-flex justify-content-between me-3 titulo mt-3 p-4">
      <h2 class="text-capitalize text-white">Proveedores</h2>
      <button class="btn btn-success" routerLink="/proveedores/create">Agregar+</button>
    </div>

</div>

<!-- barra de filtro -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        [(ngModel)]="filtroNombre"
        (input)="filtrarProveedores()"
      />
    </div>
  </div>
</div>

<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Proveedor</th>
        <th scope="col">Nombre</th>
        <th scope="col col-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of proveedoresFiltrados">
        <td scope="row">{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td class="text-center">
          <a class="btn btn-secondary me-2" [routerLink]="['/proveedores/edit', item.id]">Editar</a>
          <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
