/* Fondo oscuro general */
body, html {
    background-color: #1a1a1a;
    color: white;
  }


  /* Navbar */
  .navbar {
    background-color: #1a1a1a;
  }


  .titulo{
      padding: 15px;
      background-color: #1a1a1a;
  }


  /* Tabla estilizada */
  .table {
    background-color: #2c2c2c;
    color: white;
  }


  th, td {
    padding: 15px;
    text-align: center;
  }


  thead th {
    background-color: #388e8e;
  }


  tbody tr {
    background-color: #3c3c3c;
    transition: background-color 0.3s ease;
  }


  tbody tr:hover {
    background-color: #505050;
  }


  /* Botones */
  .btn {
    background-color: #388e8e;
    border: none;
    color: white;
    border-radius: 20px;
  }


  .btn:hover {
    background-color: #2b6f6f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .btn-secondary {
    background-color: #5c5c5c;
  }

  .btn-secondary:hover {
    background-color: #464646;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /* Búsqueda */
  input[type="text"] {
    border: 1px solid #534141;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #4a4a4a;
  }


  input[type="text"]:focus {
    background-color: #444;
    border-color: #00c1f7;
    box-shadow: none;
  }
  ::placeholder {
    color: #aaa;
  }


