<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h2 class="text-capitalize text-white">Lista de Jaulas</h2>
    </div>
    <div class="d-flex me-3">
      <button class="btn btn-success" routerLink="/jaulas/create">Agregar+</button>
    </div>
  </nav>


  <div class="conteniner">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Jaula</th>
          <th scope="col">Nombre</th>
          <th scope="col">En Uso</th>
          <th scope="col col-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jaula of jaulas">
          <td scope="row">{{ jaula.id }}</td>
          <td>{{ jaula.nombre }}</td>
          <td>{{ jaula.enUso ? 'S' : 'N' }}</td>
          <td>
            <a class="btn btn-secondary" [routerLink]="['/jaulas/edit',jaula.id]">Editar</a>
            <button (click)="deleteJaula(jaula.id)" class="btn btn-danger ms-4">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
