<div class="container">
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <div class="d-flex justify-content-between me-3 titulo">
      <h2 class="text-capitalize text-white">Lista de Jaulas</h2>
      <button class="btn btn-success" routerLink="/jaulas/create">Agregar+</button>
    </div>
  <!-- </nav> -->


  <!-- Campo de búsqueda -->
  <div class="form-group mt-3">
    <input type="text" class="form-control" [(ngModel)]="filtroNombre" placeholder="Buscar por nombre">
  </div>


  <div class="conteniner mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Jaula</th>
          <th scope="col">Nombre</th>
          <th scope="col">En Uso</th>
          <th scope="col col-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jaula of jaulasFiltradas">
          <td scope="row">{{ jaula.id }}</td>
          <td>{{ jaula.nombre }}</td>
          <td>{{ jaula.enUso ? 'S' : 'N' }}</td>
          <td>
            <a class="btn btn-secondary" [routerLink]="['/jaulas/edit', jaula.id]">Editar</a>
            <button (click)="deleteJaula(jaula.id)" class="btn btn-danger ms-4">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


