<ng-container *ngIf="isHomeRoute">
  <app-home></app-home>

  <!-- Contenedor principal con una fila que divide la pantalla -->
  <div class="container-fluid">
    <div class="row">
      <!-- Columna de la izquierda con la imagen ajustada -->
      <div class="col-7 p-0">
        <div class="image-container">
          <img src="assets/proveedores.jpeg" class="img-fluid" alt="Proveedores">
        </div>
      </div>

      <!-- Columna de la derecha con botones y texto alineados -->
      <div class="col-5 d-flex flex-column justify-content-center align-items-end">
        <h1 class="custom-home-title">¡Bienvenido!</h1>
        <p class="custom-subtitle">Agendamiento de Proveedores</p>

        <!-- Botones alineados a la derecha -->
        <div class="d-flex flex-column align-items-end mt-4">
          <button class="btn btn-custom mt-3" routerLink="/proveedores/home">Ir a Proveedores</button>
          <button class="btn btn-custom mt-3" routerLink="/productos/home">Ir a Productos</button>
          <button class="btn btn-custom mt-3" routerLink="/jaulas/home">Ir a Jaulas</button>
          <button class="btn btn-custom mt-3" routerLink="/reserva-turnos/">Ir a Reserva</button>
          <button class="btn btn-custom mt-3" routerLink="/recepcion">Ver Turnos Agendados</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
