<div>
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        <h1>Editar Proveedor</h1>
        <div class="mb-3">
          <label for="txtName" class="form-label">Nombre de Proveedor</label>
          <input type="text" name='name' [(ngModel)]= "process_data.nombre" class="form-control" id="txtName">
        </div>
        <div class="mb-3">
            <label for="txtidProveedor" class="form-label">Id del Proveedor</label>
            <input type="text" name='idProveedor' [(ngModel)] = "process_data.idProveedor" class="form-control" id="txtidProveedor">
        </div>
        <button type="button" (click)="update()" class="btn btn-primary">Actualizar</button>
      </form>
</div>