<div class="container mt-5">
    <h2 class="text-center mt-4 text-white">Reserva de Turnos de Recepción</h2>
  
    <!-- Formulario de la cabecera de reserva -->
    <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()" class="col-6 mx-auto card p-3 shadow-lg custom-form">
      <div class="mb-3">
        <label for="fecha" class="form-label text-white">Fecha</label>
        <input id="fecha" type="date" class="form-control" formControlName="fecha" required>
      </div>
  
      <div class="mb-3">
        <label for="horaInicioAgendamiento" class="form-label text-white">Hora Inicio Agendamiento</label>
        <select id="horaInicioAgendamiento" class="form-control" formControlName="horaInicioAgendamiento" required>
          <option *ngFor="let hora of horasDisponibles" [value]="hora">{{hora}}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="horaFinAgendamiento" class="form-label text-white">Hora Fin Agendamiento</label>
        <select id="horaFinAgendamiento" class="form-control" formControlName="horaFinAgendamiento" required>
          <option *ngFor="let hora of horasDisponibles" [value]="hora">{{hora}}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="idProveedor" class="form-label text-white">Proveedor</label>
        <select id="idProveedor" class="form-control" formControlName="idProveedor" required>
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{proveedor.nombre}}</option>
        </select>
      </div>
  
      <!-- Detalles dinámicos -->
      <div formArrayName="detalles_res">
        <div *ngFor="let detalle of detalles_res.controls; let i = index" [formGroupName]="i" class="mb-3 border p-2 rounded custom-detail-section">
          <label for="producto{{i}}" class="form-label text-white">Producto:</label>
          <select id="producto{{i}}" formControlName="idProducto" class="form-select mb-2" required>
            <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombre }}</option>
          </select>
  
          <label for="cantidad{{i}}" class="form-label text-white">Cantidad:</label>
          <input id="cantidad{{i}}" type="number" formControlName="cantidad" class="form-control" required>
  
          <button type="button" (click)="eliminarDetalle(i)" class="btn btn-danger mt-2">Eliminar</button>
        </div>
      </div>
  
      <!-- Botón para agregar un nuevo detalle -->
      <button type="button" (click)="agregarDetalle()" class="btn btn-secondary mb-3 w-100">Agregar Producto</button>
  
      <!-- Botón para guardar la reserva -->
      <button type="submit" class="btn btn-primary w-100">Guardar Reserva</button>
    </form>
  </div>

