<div class="jaula-form">
  <h2>Agregar Nueva Jaula</h2>

  <form method="post" enctype="multipart/form-data" (ngSubmit)="addJaula()">
    <div class="form-group">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="newJaula.nombre" name="nombre" required class="form-control"/>
    </div>
    <div class="form-group mt-3">
      <label for="enUso" class="form-label">En Uso:</label>
      <select id="enUso" [(ngModel)]="newJaula.enUso" name="enUso" required class="form-select">
        <option [value]="true">S</option>
        <option [value]="false">N</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Agregar Jaula</button>
    <button type="button" [routerLink]="['/jaulas']" class="btn btn-secondary mt-4 ms-2">Cancelar</button>
  </form>
</div>
